extends layout

block content
  #main    
    //canvas#lolcanvas(width='150', height='150', style='position:absolute;z-index:-100;top:0;left:0;width:100%;height:100%')
    a.mlh-trust-badge(href='https://mlh.io/?utm_campaign=Trust%20Badge', target='_blank')
      img(src='https://s3.amazonaws.com/logged-assets/trust-badge/s2016.png', alt='MLH Official - Spring 2016')
    .stars
    .twinkling
    .clouds
    section#canvas
      .jumbotron
        .content
          img#logo(src='images/logo_white.png')
          h2.glow-on-hover May 14 - 15, 2016
          h1.glow-on-hover: a(href='http://my.mlh.io/oauth/authorize?client_id=25cec58cf6428c907062132f2fc53b817348d2512dd02b0874a60689e1b7f0c7&redirect_uri=http%3A%2F%2Foxfordhack.herokuapp.com%2Fsuccess&response_type=token') Apply Now
    section#about
      .container
        .content
          h3 After last year, the Oxford Entrepreneurs are returning with something magical.
    section#map-container
      .container
        #overlay
        #map-here
    section#faq
      .container
        .row
          .col-md-12
            h1.glow-on-hover
              span FAQ
        .row
          .col-md-4
            h3 What is a Hackathon?
            p Hackathons are essentially creativity marathons. Thoughts become things. Attendees work in teams of up to four people to create a hack, be it a webapp, hardware or something completely different.
          .col-md-4
            h3 What if I don't have a team?
            p No need to worry! Part of the fun of a hackathon is meeting new people. We will have time at the beginning of the event for everyone to meet and form teams.
          .col-md-4
            h3 How big can teams be?
            p Teams of up to four are welcome. You can also hack solo if you want!
         .row
          .col-md-4
            h3 Do you have a code of conduct?
            a(href='http://static.mlh.io/docs/mlh-code-of-conduct.pdf') Yes
            | . tl;dr: Be nice to each other.
          .col-md-4
            h3 What can I build?
            p Web, mobile, hardware, anything! Projects will be judged based on creativity, technical difficulty, polish and usefulness by a panel of industry judges.
          .col-md-4
            h3 How much does it cost?
            p OxfordHack is free for all accepted hackers. We provide WiFi, meals, swag, and the workspace. We also have a limited number of travel scholarships if you're traveling from outside of Oxford. More information soon.
        .row
          .col-md-4
            h3 Who can attend?
            p Students from universities and high schools from all around the world.
          .col-md-4
            h3 What should I bring?
            p All attendees must bring a valid ID for admission. Other common checklist items include: laptops, sleeping bags, chargers and toiletries.
          .col-md-4
            h3 What if I have another question?
            p Send us an owl at #[a(href='mailto:owl@oxfordhack.com') owl@oxfordhack.com]
    section#sponsors
      .container
        .row
          .col-md-12
            h1.glow-on-hover
              span Sponsors
            p OxfordHack gives companies the opportunity to get in touch with some of the most talented university students in Europe.
            p If you are interested or have any questions feel free to contact us at
              a(href='mailto:owl@oxfordhack.com')  owl@oxfordhack.com
    section#resources
      .container
        .row
          .col-md-12
            h1.glow-on-hover
              span New to Hackathons?
            p Like any good school of magic, you don't need to be an experienced wizard or witch to come to OxfordHack. OxfordHack will be full of people willing to share their knowledge, help you learn, and build something magical. If you do want to get a head start before you come along, check out the below websites:
        .row
          .col-md-2.logo
            span.helper
            a(href="https://www.codecademy.com/", target='_blank')
              img(src='images/codecademy.png')
          .col-md-2.logo
            span.helper
            a(href="https://www.edx.org/", target='_blank')
              img(src='https://www.edx.org/sites/default/files/theme/edx-logo-header.png')
          .col-md-2.logo
            span.helper
            a(href="https://www.codewars.com/", target='_blank')
              img(src='http://d3l8wp33uu8nxs.cloudfront.net/assets/landing/logo-964e5b1c06db93a4914f490c8fd5cc03.png')
          .col-md-2.logo
            span.helper
            a(href="https://www.udacity.com/", target='_blank')
              img(src='https://endor-dev.s3-us-west-2.amazonaws.com/sites/566671d2495b2d0018000000/theme/images/rebrand/logo-wordmark.svg?1456958557')
          .col-md-2.logo
            span.helper
            a(href="https://www.freecodecamp.com/", target='_blank')
              img(src='https://s3.amazonaws.com/freecodecamp/freecodecamp_logo.svg')
          .col-md-2.logo
            span.helper
            a(href='https://www.udemy.com/', target='_blank')
              img(src='https://www.udemy.com/staticx/udemy/images/v5/logo-green.svg')
    section#schedule
      .container
        .row
          .col-md-12
            h1.glow-on-hover
              span Schedule
            p Coming soon!
    section#team
      .container
        .row
          .col-md-12
            h1.glow-on-hover
              span Team of Wizards and Witches
            .row
              .col-md-4.portrait
                a(href="mailto:naomi@oxfordhack.com", target='_blank')
                  img(class="portrait", src="images/naomi_small.gif", width="100%", height="100%")
              .col-md-3.portrait
                a(href="mailto:owl@oxfordhack.com", target='_blank')
                  img(class="portrait", src="images/kevin.gif", width="100%", height="100%")
              .col-md-4.portrait
                span.helper
                a(href="mailto:howard@oxfordhack.com", target='_blank')
                  img(class="portrait", src="images/howard.gif", width="100%", height="100%")
            .row
              .col-md-4.portrait
              .col-md-3.portrait
              .col-md-4.portrait
                a(href="mailto:luke@oxfordhack.com", target='_blank')
                  img(class="portrait", src="images/luke2.gif", width="100%", height="100%")
  section#footer
    footer.footer-center
      p.footer-joinus.glow-on-hover
        span Join us on
      a(href='https://www.facebook.com/OxfordHack')
        i.fa.fa-facebook
      a(href='https://twitter.com/oxfordhackathon')
        i.fa.fa-twitter
      a(href='mailto:owl@oxfordhack.com')
        i.fa.fa-envelope-o
      p.footer-copyright
        span OxfordHack © 2016
      p.footer-copyright
        span Created with magic by #[a(href='https://github.com/howard611') Howard] , #[a(href='http://twitter.com/_phzn', target="_blank") Kevin], and #[a(href='https://github.com/npentrel') Naomi]
block scripts
  // jQuery (necessary for Bootstrap's JavaScript plugins)
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  // Include all compiled plugins (below), or include individual files as needed
  script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
  // Custom JS
  script(src='javascripts/main.js')
  // Load Google Maps Api
  script(src='https://maps.googleapis.com/maps/api/js?callback=initMap', async='', defer='')
