extends layout

block content
  #main    
    //canvas#lolcanvas(width='150', height='150', style='position:absolute;z-index:-100;top:0;left:0;width:100%;height:100%')
    a.mlh-trust-badge(href='https://mlh.io/?utm_campaign=Trust%20Badge', target='_blank')
      img(src='https://s3.amazonaws.com/logged-assets/trust-badge/2017/gray.svg', alt='Major League Hacking 2017 Hackathon Season')
    .stars
    .twinkling
    .clouds
    section#canvas
      .jumbotron
        .content
          a(href="http://www.oxfordhack.com")
            img#logo(src='images/logo_white.png')
          h2.glow-on-hover November 19 - 20, 2016
          h1.glow-on-hover: a(href='http://www.oxfordhack.com') Applications are now closed
    section#about
      .container
        .content
          h3 After last year, the  
            a(href='http://oxfordentrepreneurs.co.uk/', target='_blank') Oxford Entrepreneurs
            |  are returning with something magical.
    section#map-container
      .container
        a(name='map')
        #overlay
        #map-here
    section#faq
      .container
        .row
          .col-md-12
            h1.glow-on-hover
              a(name='faq' href="#faq")
                span FAQ
        .row
          .col-md-4
            h3 What is a Hackathon?
            p Hackathons are essentially creativity marathons. Thoughts become things. Attendees work in teams of up to four people to create a hack, be it a webapp, hardware or something completely different.
          .col-md-4
            h3 What if I don't have a team?
            p No need to worry! Part of the fun of a hackathon is meeting new people. We will have time at the beginning of the event for everyone to meet and form teams.
          .col-md-4
            h3 How big can teams be?
            p Teams of up to four are welcome. You can also hack solo if you want!
         .row
          .col-md-4
            h3 Do you have a code of conduct?
            a(href='http://static.mlh.io/docs/mlh-code-of-conduct.pdf', target='_blank') Yes
            | . tl;dr: Be nice to each other.
          .col-md-4
            h3 What can I build? What about IP?
            p Web, mobile, hardware, anything! Projects will be judged based on creativity, technical difficulty, polish and usefulness by a panel of industry judges. The IP of your projects will remain with you.
          .col-md-4
            h3 How much does it cost?
            p OxfordHack is free for all accepted hackers. We provide WiFi, meals, swag, and the workspace. We also have a limited number of travel scholarships if you're traveling from outside of Oxford. More information soon.
        .row
          .col-md-4
            h3 I am under 18. / Who can attend?
            p Students from universities and high schools from all around the world can attend. You have to be 16 or older to attend. If you are under 18, your parents will be required to sign a consent form we will send to you. 
          .col-md-4
            h3 What should I bring?
            p All attendees must bring a valid ID for admission. Other common checklist items include: laptops, sleeping bags, chargers and toiletries.
          .col-md-4
            h3 What if I have another question?
            p Send us an owl at #[a(href='mailto:owl@oxfordhack.com', target='_blank') owl@oxfordhack.com]
    section#sponsors
      .container
        .row
          .col-md-12
            h1.glow-on-hover
              a(name='sponsors' href="#sponsors")
                span Sponsors
            p OxfordHack gives companies the opportunity to get in touch with some of the most talented university students in Europe.
            .row
              .col-xs-6.logoSilver
                span.helper
                a(href="https://www.skyscanner.net/", target='_blank')
                  img(src='images/skyscannersmall.png' , style="padding-top: 1em;")
              .col-xs-6.logoSilver
                span.helper
                a(href="https://www.palantir.com/", target='_blank')
                  img(src='images/palantir.png')
            .row
              .col-xs-6.logoSilver
                span.helper
                a(href="http://www.microsoft.com/", target='_blank')
                  img(src='images/Microsoft.png')
              .col-xs-6.logoSilver
                span.helper
                a(href="http://www.quantumblack.com/", target='_blank')
                  img(src='images/QB.png')
            .row
              .col-xs-2.logo
              .col-xs-4.logoSilver
                span.helper
                a(href="https://www.oxfordhack.com/", target='_blank')
                  img(src='http://test.aigaming.com/Images/Aigaminglogo233x50.png', width="487.5pt", style="padding: 1em; padding-top: 4em")
              .col-xs-4.logoSilver
                span.helper
                a(href="https://www.accenture.com/", target='_blank')
                  img(src='images/accenture.jpg', width="487.5pt", style="padding: 1em; padding-top: 4.25em")
              .col-xs-2.logo
            .row
              .col-xs-2.logo
              .col-xs-4.logoSilver
                span.helper
                a(href="https://www.esri.com/", target='_blank')
                  img(src='images/Esri.png', style="padding: 2em; width: 250pt")
              .col-xs-4.logoSilver
                span.helper
                a(href="https://www.joinef.com/", target='_blank')
                  img(src='images/ef.png', style="padding: 2em; width: 150pt")
              .col-xs-2.logo
            .row
              .col-xs-4.logoSilver
              .col-xs-4.logoSilver
                span.helper
                a(href="http://www.bloomberg.com/", target='_blank')
                  img(src='https://www.bloomberg.com/notices/content/themes/c/images/bloomberg-logo-white.svg')
              .col-xs-4.logoSilver
            .row
              .col-xs-3.logo
              .col-xs-6.logoSilver
                h3 Partners
              .col-xs-3.logo
            .row
              .col-xs-4.logo
              .col-xs-4.logoSilver
                span.helper
                a(href="https://mlh.io/", target='_blank')
                  img(src='https://static.mlh.io/brand-assets/logo/official/mlh-logo-color.png', width="287.5pt", style="padding: 2em;")
              .col-xs-4.logo
            
            // when adding more sponsors switch to 

            p.space If you are interested or have any questions feel free to contact us at
              a(href='mailto:owl@oxfordhack.com', target='_blank')  owl@oxfordhack.com
    section#resources
      .container
        .row
          .col-md-12
            h1.glow-on-hover
              a(name='resources' href="#resources")
                span New to Hackathons?
            p Like any good school of magic, you don't need to be an experienced wizard or witch to come to OxfordHack. OxfordHack will be full of people willing to share their knowledge, help you learn, and build something magical. If you do want to get a head start before you come along, check out the below websites:
        .row
          .col-xs-2.logo
            span.helper
            a(href="https://www.codecademy.com/", target='_blank')
              img(src='images/codecademy.png')
          .col-xs-2.logo
            span.helper
            a(href="https://www.edx.org/", target='_blank')
              img(src='https://www.edx.org/sites/default/files/theme/edx-logo-header.png')
          .col-xs-2.logo
            span.helper
            a(href="https://www.codewars.com/", target='_blank')
              img(src='http://d3l8wp33uu8nxs.cloudfront.net/assets/landing/logo-964e5b1c06db93a4914f490c8fd5cc03.png')
          .col-xs-2.logo
            span.helper
            a(href="https://www.freecodecamp.com/", target='_blank')
              img(src='https://s3.amazonaws.com/freecodecamp/freecodecamp_logo.svg')
          .col-xs-2.logo
            span.helper
            a(href='https://www.udemy.com/', target='_blank')
              img(src='https://www.udemy.com/staticx/udemy/images/v5/logo-green.svg')
          .col-xs-2.logo
            span.helper
            a(href='https://codecombat.com/', target='_blank')
              img(src='https://codecombat.com/images/pages/base/logo.png')
    section#schedule
      .container
        .row
          .col-md-12
            h1.glow-on-hover
              a(name='schedule' href="#schedule")
                span Schedule
        .row
          .col-md-3
          .col-md-6
            table.table.table-condensed.table-sm
              h4 November 19th, 2016
              tr
                td 09:00
                td Reception
              tr
                td 10:30
                td Welcome Address
              tr
                td 11:30
                td Start Hacking
              tr
                td 12:00 - 12:30
                td Tech Talk - QuantumBlack
              tr
                td 12:35 - 12:50
                td Tech Talk - AIGaming
              tr
                td 12:55 - 13:25
                td Tech Talk - Microsoft
              tr
                td 13:30
                td Lunch
              tr
                td 14:00 - 14:15
                td Tech Talk - Esri
              tr
                td 14:20 - 14:50
                td Tech Talk - SkyScanner
              tr
                td 14:55 - 15:10
                td Tech Talk - EF
              tr
                td 19:00
                td Dinner
              tr
                td 20:00
                td Future & Current Hackathon Meetup
              tr
                td 22:00
                td Bloomberg Mini Game!
          .col-md-3
        .row
          .col-md-3
          .col-md-6
            table.table.table-condensed.table-sm
              h4 November 20th, 2016
              tr
                td 00:00
                td Midnight Snacks
              tr
                td 00:00 - 06:00
                td More Mini Games
              tr
                td 07:00
                td Breakfast
              tr
                td 11:30
                td End of Hacking
              tr
                td 12:00
                td Lunch
              tr
                td 13:00 - 16:00
                td Final Presentations
              tr
                td 16:30
                td Awards
              tr
                td 17:00
                td The End
          .col-md-3
        p.cent This is a preliminary schedule and it's subject to change but it might help you while planning your travels.

    section#team
      .container
        .row
          .col-md-12
            h1.glow-on-hover
              a(name='team' href="#team")
                span Team of Wizards and Witches
            .row
              .col-md-4.portrait
                a(href="mailto:naomi@oxfordhack.com", target='_blank')
                  img(class="portrait", src="images/naomi_small.gif", width="100%", height="100%")
              .col-md-3.portrait
                a(href="mailto:owl@oxfordhack.com", target='_blank')
                  img(class="portrait", src="images/kevin.gif", width="100%", height="100%")
              .col-md-4.portrait
                span.helper
                a(href="mailto:howard@oxfordhack.com", target='_blank')
                  img(class="portrait", src="images/howard.gif", width="100%", height="100%")
            .row
              .col-md-3.portrait
                a(href="mailto:owl@oxfordhack.com", target='_blank')
                  img(class="portrait", src="images/asiyla2.gif", width="100%", height="100%")
              .col-md-4.portrait
                a(href="mailto:luke@oxfordhack.com", target='_blank')
                  img(class="portrait", src="images/luke2.gif", width="100%", height="100%")
              .col-md-4.portrait
                a(href="mailto:owl@oxfordhack.com", target='_blank')
                  img(class="portrait", src="images/denis_small.gif", width="100%", height="100%")
            .row
              .col-md-4.portrait
              .col-md-4.portrait
                a(href="mailto:owl@oxfordhack.com", target='_blank')
                  img(class="portrait", src="images/mahmoud.gif", width="100%", height="100%")
              .col-md-3.portrait
  section#footer
    footer.footer-center
      p.footer-joinus.glow-on-hover
        span Join us on
      a(href='https://www.facebook.com/OxfordHack', target='_blank')
        i.fa.fa-facebook
      a(href='https://twitter.com/oxfordhackathon', target='_blank')
        i.fa.fa-twitter
      a(href='mailto:owl@oxfordhack.com', target='_blank')
        i.fa.fa-envelope-o
      p.footer-copyright
        span OxfordHack © 2016
      p.footer-copyright
        span Created with magic by #[a(href='https://github.com/howard611', target='_blank') Howard] , #[a(href='http://twitter.com/_phzn', target="_blank") Kevin], and #[a(href='http://naomi.codes/', target='_blank') Naomi]
block scripts
  // jQuery (necessary for Bootstrap's JavaScript plugins)
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  // Include all compiled plugins (below), or include individual files as needed
  script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
  // Custom JS
  script(src='javascripts/main.js')
  // Load Google Maps Api
  script(src='https://maps.googleapis.com/maps/api/js?callback=initMap', async='', defer='')
