@font-face {
  font-family: MagicSchoolOne;
  src: url(../fonts/MagicSchoolOne.ttf); }

* {
  font-family: MagicSchoolOne; }

body {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  cursor: url(./cursor.svg), auto; }

a {
  color: #00B7FF; }

.jumbotron {
  height: 650px;
  background-color: #22313F;
  color: #E4F1FE;
  margin-bottom: 0px; }
  .jumbotron h1 {
    font-size: 10em; }
    @media all and (max-width: 800px) {
      .jumbotron h1 {
        font-size: 4em; } }
  .jumbotron .container {
    position: absolute;
    bottom: 200px;
    width: 100%; }

#about, #sponsors, #resources {
  background-color: #527293;
  color: #fff;
  padding: 45px; }
  #about h1, #sponsors h1, #resources h1 {
    font-size: 4em; }
  #about p, #sponsors p, #resources p {
    font-size: 1.5em; }

#sponsors {
  background-color: transparent;
  color: #333333; }

#faq {
  padding-top: 50px; }
  #faq h1 {
    font-size: 4em; }
  #faq h3 {
    font-size: 2em; }

#map-container {
  height: 400px;
  display: block;
  padding: 0; }

.mlh-trust-badge {
  position: fixed;
  top: 0;
  right: 50px;
  max-width: 100px;
  width: 10%;
  min-width: 60px;
  display: block;
  z-index: 1000; }
  .mlh-trust-badge img {
    width: 100%; }

#resources .logo {
  width: 195px;
  height: 50px;
  text-align: center; }
  #resources .logo .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  #resources .logo a img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle; }

.footer-center {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 18px sans-serif;
  padding: 45px; }
  .footer-center .footer-joinus {
    color: #8d9093;
    font-size: 24px;
    margin: 0; }
  .footer-center .footer-copyright {
    color: #8f9296;
    font-size: 14px;
    margin: 0; }
  .footer-center a {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px; }

@media (max-width: 600px) {
  .footer-center {
    padding: 35px; }
    .footer-center .footer-joinus {
      font-size: 18px; }
    .footer-center .footer-copyright {
      font-size: 12px; } }
